<div class="container">
	<ul class="list-group">
		<li class="list-group-item panel panel-default">
			<div class="panel-heading">{{post.author}}</div>
			<div class="panel-body">{{post.message}}</div>
			<div class="panel-footer">
				<a href="/forum/edit/post/{{post._id}}" role="button" class='btn btn-default'>
					Edit this post
				</a>
			</div>
		</li>

		<li class="list-group-item panel panel-default">
			<div class="panel-heading">Replies to this post:</div>
				<ul class="list-group">
				{{#each replies}}
					<li class="list-group-item panel panel-default">
						<div class="panel-heading">{{this.author}}</div>
						<div class="panel-body">{{this.message}}</div>
						<div class="panel-footer">
							<a href="/forum/edit/post/{{this._id}}" role="button" class='btn btn-default'>
								Edit this post
							</a>
						</div>
					</li>
				{{/each}}
				</ul>
		</li>
	</ul>
</div>

<div class="container">
	<form
		{{#if edit}}
			action="/forum/edit/post/{{postId}}"
		{{else}}
			action="/forum/reply/post/{{postId}}"
		{{/if}}
	role="form" method="post">
		{{#if edit}}
			<h2>Edit this post</h2>
		{{else}}
			<h2>Reply to this post</h2>
		{{/if}}
		<div class="form-group">
			<textarea class="form-control" rows="5" name="message">{{#if edit}}{{edit.message}}{{/if}}</textarea>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>


