{{!< default}}
<!--
<div class="container">
	<div class="jumbotron"><img src="/images/logo.svg" width="160">
		<h1>Welcome</h1>
		<p>This is your new <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a> website.</p>
		<p>
			It includes the latest versions of
			<a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		</p>
		<p>Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.</p>
		<hr>
			<p>We have created a default Admin user for you with the email <strong>user@keystonejs.com</strong> and the password <strong>admin</strong>.</p>
			<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		<hr>
		<p>
			Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			<a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
		</p>
	</div>
</div>

			<form action='/search' method='POST'>
				<label for='username'>Username:</label>
				<input type='text' id='username' name='username'><input type='submit' value='Login'>
			</form>
-->


<!--
- nom / prénom
- photo
- nombre de crédits acquis / possibles
- liste des modules / activités en cours, ceux qui sont passés et ceux qui vont débuter
- liste des personnes liées aux activités et corrections



var normales:
	data.lastname (le nom)
	data.firstname (le prenom)
	sess.user (le login)
	sess.picture (source de la photo) <= {CNEV} : PAS ENCORE DISPO
	sess.cred_a (credit acquis) <= {CNEV} : valeur actuelle arbitraire
	sess.cred_p (credit possible) <= {CNEV} : valeur actuelle arbitraire

var tableau:
	sess.mod (liste des modules) <= {CNEV} : CECI EST UN TABLEAU
	sess.act_ec (liste des activites en cours)
	sess.act_past (liste des activites passees)
	sess.act_go (liste des activites qui vont debuter)
	sess.people_to_correct (liste des personnes qui doivent me corriger)
	sess.people_correct_me (liste des personnes que je dois corriger)
-->
{{#unless sess.isAdmin}}
		<div class="container-fluid">
			<img src="{{!-- sess.picture --}}" alt="your profil picture" class="img-responsive img-circle"><p>{{ data.lastname }} {{ sess.firstname }}, {{ sess.user }}</br></br></br></p>
			<p>
				{{#each data.mod}}
					Hi module : {{this.name}} </br>
				{{/each}}
				<br />Supposed to be actInList ...<br />
				{{#each data.actInList}}
					Hi Activity : {{this.name}} </br>
				{{/each}}
				<br />Supposed to be actList ...<br />
				{{#each data.actList}}
					Hi Activity : {{this.name}} </br>
				{{/each}}
			</p>
		</div>
{{/unless}}

{{#if sess.isAdmin}}
		LES TRUCS D'UN ADMIN HEUREUX !
{{/if}}


