<div class="container">
	<h2>Insert a new module</h2>
	<form role="form" method="post">
		<div class="form-group">
			<label for="name">Module name:</label>
			<input type="text" class="form-control" name="name" {{#if edit}}{{addPlaceholder edit.name}}{{/if}}>
		</div>
		<div class="form-group">
			<label for="description">Description:</label>
			<textarea class="form-control" rows="5" name="description">{{#if edit}}{{edit.description}}{{/if}}</textarea>
		</div>
		<div class="form-group">
			<label for="slots">Slots:</label>
			<input type="number" class="form-control" name="slots" {{#if edit}}{{addPlaceholder edit.slots.max}}{{/if}}>
		</div>
		<h3>Registrations</h3>
		<div class="form-group">
			<label for="registrationbegins">Beginning:</label>
			<input type="datetime-local" class="form-control" name="registrationbegins" {{#if edit}}{{addDateholder edit.registration.begins}}{{/if}}>
		</div>
		<div class="form-group">
			<label for="registrationends">Ending:</label>
			<input type="datetime-local" class="form-control" name="registrationends" {{#if edit}}{{addDateholder edit.registration.ends}}{{/if}}>
		</div>
		<h3>Period</h3>
		<div class="form-group">
			<label for="periodbegins">Beginning:</label>
			<input type="datetime-local" class="form-control" name="periodbegins" {{#if edit}}{{addDateholder edit.period.begins}}{{/if}}>
		</div>
		<div class="form-group">
			<label for="periodends">Ending:</label>
			<input type="datetime-local" class="form-control" name="periodends"} {{#if edit}}{{addDateholder edit.period.ends}}{{/if}}>
		</div>
		<div class="form-group">
			<label for="credits">Credits:</label>
			<input type="number" class="form-control" name="credits" {{#if edit}}{{addPlaceholder edit.credits}}{{/if}}>
		</div>
		<button type="submit" class="btn btn-default"
			{{#if edit}}
				action="/admin/module/edit/{{edit.name}}"
			{{else}}
				action="/admin/module/new"
			{{/if}}
		>Submit</button>
	</form>
</div>
