{{!< default}}

<div class="containers-fluid">
{{#if data.modules}}
	<ul class="list-group">
		{{#each data.modules}}
			<li class="list-group-item">{{displayModuleList this sess.isAdmin}}</li>
		{{/each}}
	</ul>
{{/if}}
</div>


{{#if sess.isAdmin}}
<div class="containers-fluid">
	<a class="btn btn-info" role="button" href="/admin/module/new">Add new module</a>
</div>
{{/if}}

<div class="list-group">
	{{#each data.modules}}
	<div class="list-group-item">
		<h4>{{this.name}}</h4>
		<p>Description : {{this.description}}</br>
		Ce module donne {{this.credits}} credits.</br>
		vous pouvez vous enregistrer au project du {{registration.begins}} au {{registration.ends}}</br>
		le project durera du {{period.begins}} au {{period.ends}}</br>
		{{slots.current}}/{{slots.max}}
		{{displayModuleList this sess.isAdmin}}
		</p>
	</div>
	{{/each}}
</ul>
