{{#if seeking.uid}}
	<table>
		<tr><td>Uid</td><td>{{seeking.uid}}</td></tr>
		<tr><td>Name</td><td>{{seeking.sn}}</td></tr>
		<tr><td>Firstname</td><td>{{seeking.givenName}}</td></tr>
		<tr><td>pic</td><td><img>{{!-- seeking.jpegPhoto --}}</img></td></tr>
	</table>
{{else}}
	<h1>{{this}}</h1>
{{/if}}
