{{#if this.uid}}
	<table>
		<tr><td>Uid</td><td>{{this.uid}}</td></tr>
		<tr><td>Name</td><td>{{this.sn}}</td></tr>
		<tr><td>Firstname</td><td>{{this.givenName}}</td></tr>
		<tr><td>pic</td><td><img src={{this.jpegPhoto}} /></td></tr>
	</table>
{{else}}
	<h1>{{this}}</h1>
{{/if}}
