{{!< default}}

<div class="container">
	<ul class="list-group">
		<li class="list-group-item">{{result.name}}</li>
		<li class="list-group-item">{{result.description}}</li>
		<li class="list-group-item"><a href="{{result.subject}}">Link to subject</a></li>
		<li class="list-group-item">{{result.slots.max}}</li>
		<li class="list-group-item">{{result.slots.current}}</li>
	</ul>
</div>
